# Ignore entire folders
masterdata/
scripts/
development/
harvested/

# Ignore specific files
finger.txt
Pipfile

# Ignore Python-specific files
.env
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
pipenv_scripts_log.txt

# Ignore timestamp and cache files
timestamps/
# *.json
