<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% if navigation %}
    <div class="nav-header">
        <a href="{{ url_for('main_page') }}" class="btn btn-primary">Home</a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </div>
    <hr>
    {% endif %}
    <table>
        <tr>
            <th>Live View</th>
            <th>Download</th>
            <th>Upload</th>
            <th>Render for Clips</th>
        </tr>
        {% for file, timestamp in files %}
        <tr>
            <td><a href="{{ url_for('live_view', filename=file) }}">{{ file[:-4].upper() }}</a></td>
            <td><a href="{{ url_for('download_file', filename=file) }}">Download</a></td>
            <td>
                <form action="{{ url_for('upload_file', filename=file) }}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" required>
                    <button type="submit">Upload</button>
                </form>
            </td>
            <td>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('view_file', filename=file, option='links') }}">Links</a>
                        <a class="dropdown-item" href="{{ url_for('view_file', filename=file, option='cards') }}">Cards</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="container">
        <h2>A Better Way to Do Clips</h2>
        
        <p>This app allows you to <strong>view</strong>, and <strong>download</strong> the most recent client news as well as <strong>upload</strong> selected data to the app to render a clips report. The app is designed to be simple and efficient, with options to render data in a couple standard formats.</p>
        
        <h3>How to Use the App:</h3>
        <ol>
            <li><strong>View Files:</strong> The main page displays a list of available files with options to:
                <ul>
                    <li><strong>Live View:</strong> Lets you see the most recent client news, covering the last three days.</li>
                    <li><strong>Download:</strong> Save the most recent clips to your computer.</li>
                    <li><strong>Upload:</strong> Update the data with a new CSV or XLSX file.</li>
                    <li><strong>Render for Clips:</strong> Choose how to view the data (Links, Cards).</li>
                </ul>
            </li>
            <li><strong>Upload a File:</strong> Click the upload button, select a file, and confirm. The new file will overwrite the previous data.</li>
            <li><strong>Render for Clips:</strong> Choose your preferred view to see the data in a dynamic format.</li>
            <li><strong>Logout:</strong> When finished, use the logout button to end your session.</li>
        </ol>
        
        <h3>File Requirements:</h3>
        <p>Ensure all uploaded files are in CSV or XLSX format. Do not change the column names in the file, or the report will not render correctly.</p>
        
        <p>If you encounter any issues, please contact Wesley.Thompson@wardcirclestrategies.com.</p>
    </div>
    

</body>
</html>
